@import url("~assets/css/normalize.css");

:root {
    --color-text: #000;
    --color-high-text: #7179ae;
    --color-tint: #7179ae;
    --color-background: #fff;
    --font-size: 14px;
    --line-height: 1.5;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    cursor: default;
    font-size: 14px;
    min-width: 900px;
}

.left {
    float: left;
}

.right {
    float: right;
}